<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite">

    <test name="All Suite">
        <classes>


            <class name="tests.CommunityAPIs.Posts.AddCommunityPost"/>
            <class name="tests.CommunityAPIs.Posts.EditCommunityPost"/>
            <class name="tests.CommunityAPIs.Posts.ShowCommunityPost"/>
            <class name="tests.CommunityAPIs.Posts.FindCommunityPost"/>
            <class name="tests.CommunityAPIs.Posts.ReportCommunityPost"/>
            <class name="tests.CommunityAPIs.Posts.GetPostReports"/>
            <class name="tests.CommunityAPIs.Posts.LikeCommunityPost"/>
            <class name="tests.CommunityAPIs.Posts.UnlikeCommunityPost"/>
            <class name="tests.CommunityAPIs.Posts.FindCommunityPostLike"/>
            <class name="tests.CommunityAPIs.Posts.DeleteCommunityPost"/>

            <class name="tests.CommunityAPIs.Comments.AddComment"/>
            <class name="tests.CommunityAPIs.Comments.EditComment"/>
            <class name="tests.CommunityAPIs.Comments.DeleteComment"/>
            <class name="tests.CommunityAPIs.Comments.ShowComment"/>
            <class name="tests.CommunityAPIs.Comments.ReportComment"/>
            <class name="tests.CommunityAPIs.Comments.LikeComment"/>
            <class name="tests.CommunityAPIs.Comments.UnLikeComment"/>

        </classes>
    </test>
</suite>